<div class="row" [formGroup]="workerForm">
    <div class="col-12">
        <h6>Редактировать данные сотрудника</h6>
    </div>
    <div class="col-3">
        <input type="text" 
        class="form-control"
        formControlName="Name"
        placeholder="Имя">
    </div>
    <div class="col-3">
        <input type="text" 
        class="form-control"
        formControlName="Surname"
        placeholder="Фамилия">
    </div>
    <div class="col-2">
        <input type="text" 
        class="form-control"
        formControlName="Phone"
        placeholder="Телефон"
        [textMask]="{mask: maskPhone, showMask: true}">
    </div>
    <div class="col-2">
        <select class="custom-select" class="form-control" formControlName="Type">
            <option value=0>Программист</option>
            <option value=1>Дизайнер</option>
            <option value=2>Рекламщик</option>
            <option value=3>Менеджер</option>
        </select>
    </div>
    <div class="col-1">
        <button class="btn btn-outline-primary btn-sm" (click)="onEditWorker()">Сохранить</button>
    </div>
    <div class="col-1">
        <button class="btn btn-outline-danger btn-sm" (click)="onCancel()">Отмена</button>
    </div>
</div>